* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D7E1EC;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: #292929;
    margin-left: 20px;
}


.nav {
    max-width: 1280px;
    height: 100px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-right: 50px;
}

.nav-list a {
    font-size: 18px;
    color: #292929;
    padding-block: 16px;
    display: flex;
}

.nav-list a:hover {
    color: #31a7f7;
}

.wrapper-menu {
    display: none;
    margin: 0 150px 50px;
}

.wrapper-menu .button-menu {
    display: inline-block;
    gap: 50px;

    height: 60px;
    width: 60px;

    margin: 0 20px;

    overflow: hidden;

    cursor: pointer;

    transition: all 0.3s ease-out;
}

.wrapper-menu .button-menu .icon-git, .icon-linkedin {
    display: inline-block;

    height: 60px;
    width: 60px;

    text-align: center;

    box-sizing: border-box;

    line-height: 60px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 125px;
}

.text h1 {
    font-size: 64px;
    margin: 50px;
    color: #292929;
}

h1 span {
    color: #4B9BE4;
}

img.perfil_home {
    height: 250px;
    margin-right: 166px;
}

.curriculo {
    margin: 74px 0 134px 143px;
}

.btn {
    position: relative;
    width: 220px;
    height: 60px;
    padding-left: 40px;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(7, 51, 197, 0.712);
    color: rgba(255, 255, 255, .5);

    border-radius: 60px;

    text-decoration: none;

    text-transform: uppercase;
    user-select: none;

    letter-spacing: 2px;

    border-top: .5px solid rgba(255, 255, 255, .35);
    border-left: .5px solid rgba(255, 255, 255, .35);



    transition: .5s;
}

.btn:hover {
    padding-left: 0;
    padding-right: 40px;

    color: rgba(255, 255, 255, 1);
}

.btn span {
    position: absolute;
    left: 5px;

    width: 50px;
    height: 50px;

    background: #e4e4e4;

    border-radius: 50%;

    transition: .5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #0c0c0c;
    font-size: 1.2rem;
}

.btn:hover span {
    left: calc(100% - 55px);
}

.btn::before {
    content: '';
    position: absolute;
    width: 85px;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    transform: translateX(-178px) skewX(30deg);
    transition: .75s ease-in-out;
    z-index: 10;
}

.btn:hover::before {
    transform: translateX(178px) skewX(30deg);
}

.wrapper {
    display: flex;
    margin: 0 150px 50px;
}

.wrapper .button {
    display: inline-block;
    gap: 50px;

    height: 60px;
    width: 60px;

    margin: 0 20px;

    overflow: hidden;

    background: #F5F5F5;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

    border-radius: 50px;

    cursor: pointer;

    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;

    height: 60px;
    width: 60px;

    text-align: center;

    border-radius: 50px;
    box-sizing: border-box;

    line-height: 60px;
}


.wrapper .button:nth-child(1):hover .icon {
    background: #0c0c0c;
    color: #F5F5F5;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #3498db;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.button {
    text-decoration: none;
}

.button a {
    text-decoration: none;

    color: inherit;

}

.icon {
    margin-right: 5px;

}

h2 {
    background: linear-gradient(0deg, transparent 0%, transparent 90%, black 90%, black 100%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    color: #0c0c0c;
    display: inline-block;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10px;
        left: 0;
        width: auto;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list a {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .nav {
        position: relative;
    }

    .wrapper-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .wrapper-menu .button-menu {
        display: inline-block;
        gap: 50px;
    
        min-height: 30px;
        min-width: 30px;
    
        margin: 0 20px;
    
        overflow: hidden;
    
        cursor: pointer;
    
        transition: all 0.3s ease-out;
    }
    
    .icon-git, .icon-linkedin, .icon-outlook {
        display: inline-block;
    
        min-height: 30px;
        min-width: 30px;
    
        text-align: center;
    
        box-sizing: border-box;
    
        line-height: 60px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 25px;
    }

    .text h1 {
        font-size: 40px;
        width: 269px;
        height: 190;
    }

    .perfil {
        display: flex;
        justify-content: center;
        align-items: center;    
    }
    
    .perfil_home {
        width: auto;
        height: auto;
        margin: 0 160px;
    }

    .curriculo {
        display: none;
    }


    .wrapper {
        display: none;
    }

}