* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

a {
    font-family: sans-serif;
    text-decoration: none;
}
.nav {
    max-width: 1280px;
    height: 100px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: #292929;
    padding-block: 16px;
}

.nav-list a:hover {
    color: #31a7f7;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 125px;
}

.text h1 {
    font-size: 64px;
    margin-left: 75px;
    
    color: #292929;
}

h1 span {
    color: #4B9BE4;
}

img.perfil_home {
    height: 250px;
    margin-right: 166px;
}

.curriculo {
    margin: 74px 0 134px 143px;
}

.curriculo .btn {
    border: 1px solid #3498db;
    color: #F5F5F5;
    background: none;

    min-width: 200px;

    padding: 10px 20px;
    margin: 10px;

    border-radius: 12px;

    font-size: 20px;

    cursor: pointer;
    
    transition: 0.4s;

    position: relative;
}

.btn1:hover {
    color: #3498db;
}

.btn::before {
    content: "";
    position: absolute;

    left: 0;
    top: 0;

    border-radius: 10px;

    width: 100%;
    height: 100%;

    background: #3498db;    

    z-index: -1;

    transition: transform 0.5s;
}


.btn1:hover::before {
    transform: scaleX(0);
}

.wrapper {
   display: flex;
   margin: 0 150px 50px;    
}

.wrapper .button {
    display: inline-block;
    gap: 50px;

    height: 60px;
    width: 60px;
    
    margin: 0 20px;
    
    overflow: hidden;
    
    background: #F5F5F5;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);

    border-radius: 50px;
    
    cursor: pointer;    
   
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 200px;
}

.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}


.wrapper .button:nth-child(1):hover .icon {
    background: #0c0c0c;
    color: #F5F5F5;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #3498db;
}

.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
}

.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

h2 {
    position: relative;
    font-size: 15em;
    color: #222;
    background: linear-gradient(90deg, #0f0, #1899ff, #f0f, #f00, #ff0);
    -webkit-background-clip: text;
    -webkit-text-stroke: .02em transparent;
}

h2::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    color: #222;
    background: linear-gradient(90deg, #0f0, #1899ff, #f0f, #f00, #ff0);
    -webkit-background-clip: text;
    -webkit-text-stroke: .02em transparent;
    transform: translate(-20px, -20px);

}